$manrope-font: 'Manrope', sans-serif;

$faux-floral-white: #fdf7f4;
$faux-snow: #fef5f8;
$faux-dark-gunmetal-1: #1a202c;
$faux-dark-gunmetal-2: #191c2f;
$faux-granite-gray: #666666;

$faux-ruber: #d04c73;
$faux-brink-pink: #f15f79;

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background: $faux-snow;
    animation: fadeEffect 2s;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}