$manrope-font: 'Manrope', sans-serif;

$faux-floral-white: #fdf7f4;
$faux-snow: #fef5f8;
$faux-dark-gunmetal-1: #1a202c;
$faux-dark-gunmetal-2: #191c2f;
$faux-granite-gray: #666666;

$faux-ruber: #d04c73;
$faux-brink-pink: #f15f79;